<section class="contact" id="contact">
  <h1 class="contact__h1">Contacto</h1>
  <p class="contact__text">
    Puedes contactar conmigo a través de mis redes sociales profesionales. O si
    lo prefieres, puedes escribirme un email:
  </p>
  <div class="contact__div">
    <a class="contact__div_link" href="" target="_blank">
      <i class="fa-brands fa-linkedin"></i>
    </a>
    <a class="contact__div_link" href="" target="_blank">
      <i class="fa-brands fa-github"></i>
    </a>
    <a class="contact__div_link" href="mailto:raquel.rgm7@gmail.com">
      <i class="fa-solid fa-envelope"></i>
    </a>
  </div>
</section>
<div class="line"></div>
