<section class="contact">
  <h1 class="contact__h1">Contacto</h1>
  <div class="contact__div">
    <a class="contact__div_link" href="" target="_blank">
      <img
        class="contact__div_link--logo"
        src="./assets/images/linkedin.svg"
        alt="LinkedIn"
      />
    </a>
    <a class="contact__div_link" href="" target="_blank">
      <img
        class="contact__div_link--logo"
        src="./assets/images/github.png"
        alt="GitHub"
      />
    </a>
    <a class="contact__div_link" href="mailto:raquel.rgm7@gmail.com">
      <img
        class="contact__div_link--logo"
        src="./assets/images/mail.svg"
        alt="Mail"
      />
    </a>
  </div>
</section>
<div class="line"></div>
