<header class="header">
  <nav class="header__menu">
    <img class="header__menu-logo" src="./assets/images/LOGO.png" alt="logo" />
    <ul class="header__menu_list">
      <li><a href="#sobremi" class="header__menu_list-link">Sobre mí</a></li>
      <li><a href="#proyectos" class="header__menu_list-link">Proyectos</a></li>
      <li>
        <a href="#tecnologias" class="header__menu_list-link">Tecnologías</a>
      </li>
      <li><a href="#contacto" class="header__menu_list-link">Contacto</a></li>
    </ul>
  </nav>
</header>
