<header class="header">
  <img class="header__logo" src="./assets/images/Logo1.png" alt="logo" />
  <nav class="header__menu">
    <ul class="header__menu_list">
      <li class="header__menu_list-li">
        <a href="#hero" class="header__menu_list-li_link">Sobre mí</a>
      </li>
      <li class="header__menu_list-li">
        <a href="#projects" class="header__menu_list-li_link">Proyectos</a>
      </li>
      <li class="header__menu_list-li">
        <a href="#technologies" class="header__menu_list-li_link"
          >Tecnologías</a
        >
      </li>
      <li class="header__menu_list-li">
        <a href="#contact" class="header__menu_list-li_link">Contacto</a>
      </li>
    </ul>
  </nav>
</header>
