<header class="header">
  <nav class="header__menu">
    <img class="header__menu_logo" src="./assets/images/Logo1.png" alt="logo" />
    <ul class="header__menu_list">
      <li class="header__menu_list-li">
        <a href="#sobremi" class="header__menu_list-li_link">Sobre mí</a>
      </li>
      <li class="header__menu_list-li">
        <a href="#proyectos" class="header__menu_list-li_link">Proyectos</a>
      </li>
      <li class="header__menu_list-li">
        <a href="#tecnologias" class="header__menu_list-li_link">Tecnologías</a>
      </li>
      <li class="header__menu_list-li">
        <a href="#contacto" class="header__menu_list-li_link">Contacto</a>
      </li>
    </ul>
  </nav>
</header>
