<section class="hero" id="hero">
  <img class="hero__logo" src="./assets/images/LogoRGM.png" alt="LogoRMG" />
  <div class="hero__desc">
    <h1 class="hero__desc-title">Hola, soy Raquel.</h1>
    <h2 class="hero__desc-subtitle">
      Diseñadora y programadora web front-end.
    </h2>
    <p class="hero__desc-text">
      Creo aplicaciones y páginas web utilizando diferentes lenguajes. Te invito
      a conocer mi trabajo.
    </p>
    <a class="hero__desc-link" href="#projects">
      <button type="button" class="hero__desc-link--button">
        Descubre mis proyectos
      </button>
    </a>
  </div>
</section>
