<section class="projects" id="projects">
  <h2 class="projects__title">< proyectos /></h2>
  <div class="projects__container js_projects__container">
    <div class="projects__container_all js_projects">
      <article
        class="projects__container_all-one js_projects__container_all-one"
      >
        <section class="projects__container_all-one--info">
          <a
            class="projects__container_all-one--info---link"
            href="http://www.apptimist.es/"
            target="_blank"
          >
            <img
              class="projects__container_all-one--info---link__img"
              src="./assets/images/apptimist.png"
              alt="Apptimist"
            />
          </a>
          <div class="projects__container_all-one--info---div">
            <h1 class="projects__container_all-one--info---div__title">
              Apptimist
            </h1>
            <p class="projects__container_all-one--info---div__text">
              SPA de empresa de diseño y desarrollo de aplicaciones web
            </p>
          </div>
        </section>
        <section class="projects__container_all-one--links">
          <a
            class="projects__container_all-one--links---repo no_repo"
            href=""
            target="_blank"
            >Repo</a
          >
          <a
            class="projects__container_all-one--links---web"
            href="http://www.apptimist.es/"
            target="_blank"
            >Web</a
          >
        </section>
      </article>
      <article
        class="projects__container_all-one js_projects__container_all-one"
      >
        <section class="projects__container_all-one--info">
          <a
            class="projects__container_all-one--info---link"
            href="http://www.gestoriajjdevicente.com/"
            target="_blank"
          >
            <img
              class="projects__container_all-one--info---link__img"
              src="./assets/images/gestoría.png"
              alt="Gestoría"
            />
          </a>
          <div class="projects__container_all-one--info---div">
            <h1 class="projects__container_all-one--info---div__title">
              Gestoría JJ de Vicente
            </h1>
            <p class="projects__container_all-one--info---div__text">
              Página web de gestoría administrativa
            </p>
          </div>
        </section>
        <section class="projects__container_all-one--links">
          <a
            class="projects__container_all-one--links---repo no_repo"
            href=""
            target="_blank"
            >Repo</a
          >
          <a
            class="projects__container_all-one--links---web"
            href="http://www.gestoriajjdevicente.com/"
            target="_blank"
            >Web</a
          >
        </section>
      </article>
      <article
        class="projects__container_all-one js_projects__container_all-one"
      >
        <section class="projects__container_all-one--info">
          <a
            class="projects__container_all-one--info---link"
            href="https://raquelgm88.github.io/easy-sports-shop/"
            target="_blank"
            ><img
              class="projects__container_all-one--info---link__img"
              src="./assets/images/shop.png"
              alt="Easy Sport Shop"
          /></a>
          <div class="projects__container_all-one--info---div">
            <h1 class="projects__container_all-one--info---div__title">
              Easy Sports Shop
            </h1>
            <p class="projects__container_all-one--info---div__text">
              Maquetación de un e-commerce
            </p>
          </div>
        </section>
        <section class="projects__container_all-one--links">
          <a
            class="projects__container_all-one--links---repo"
            href="https://github.com/raquelgm88/easy-sports-shop"
            target="_blank"
            >Repo</a
          >
          <a
            class="projects__container_all-one--links---web"
            href="https://raquelgm88.github.io/easy-sports-shop/"
            target="_blank"
            >Web</a
          >
        </section>
      </article>
      <article
        class="projects__container_all-one js_projects__container_all-one two"
      >
        <section class="projects__container_all-one--info">
          <a
            class="projects__container_all-one--info---link"
            href="https://raquelgm88.github.io/cocktail-finder/"
            target="_blank"
            ><img
              class="projects__container_all-one--info---link__img"
              src="./assets/images/cocktail.png"
              alt="Cocktail Finder"
            />
          </a>
          <div class="projects__container_all-one--info---div">
            <h1 class="projects__container_all-one--info---div__title">
              Cocktail Finder
            </h1>
            <p class="projects__container_all-one--info---div__text">
              Buscador de bebidas y cócteles
            </p>
          </div>
        </section>
        <section class="projects__container_all-one--links">
          <a
            class="projects__container_all-one--links---repo"
            href="https://github.com/raquelgm88/cocktail-finder"
            target="_blank"
            >Repo</a
          >
          <a
            class="projects__container_all-one--links---web"
            href="https://raquelgm88.github.io/cocktail-finder/"
            target="_blank"
            >Web</a
          >
        </section>
      </article>
      <article
        class="projects__container_all-one js_projects__container_all-one three"
      >
        <section class="projects__container_all-one--info">
          <a
            class="projects__container_all-one--info---link"
            href="https://raquelgm88.github.io/friends-best-quotes/"
            target="_blank"
          >
            <img
              class="projects__container_all-one--info---link__img"
              src="./assets/images/friends.png"
              alt="Friends Best Quotes"
          /></a>
          <div class="projects__container_all-one--info---div">
            <h1 class="projects__container_all-one--info---div__title">
              Friends Best Quotes
            </h1>
            <p class="projects__container_all-one--info---div__text">
              Buscador y creador de frases de "Friends"
            </p>
          </div>
        </section>
        <section class="projects__container_all-one--links">
          <a
            class="projects__container_all-one--links---repo"
            href="https://github.com/raquelgm88/friends-best-quotes"
            target="_blank"
            >Repo</a
          >
          <a
            class="projects__container_all-one--links---web"
            href="https://raquelgm88.github.io/friends-best-quotes/"
            target="_blank"
            >Web</a
          >
        </section>
      </article>
      <article
        class="projects__container_all-one js_projects__container_all-one four"
      >
        <section class="projects__container_all-one--info">
          <a
            class="projects__container_all-one--info---link"
            href="https://raquelgm88.github.io/personajes-wizarding-world/"
            target="_blank"
          >
            <img
              class="projects__container_all-one--info---link__img"
              src="./assets/images/harry-potter.png"
              alt="Personajes Wizarding World"
          /></a>
          <div class="projects__container_all-one--info---div">
            <h1 class="projects__container_all-one--info---div__title">
              Personajes Wizarding World
            </h1>
            <p class="projects__container_all-one--info---div__text">
              Fichas de personajes de la saga Harry Potter
            </p>
          </div>
        </section>
        <section class="projects__container_all-one--links">
          <a
            class="projects__container_all-one--links---repo"
            href="https://github.com/raquelgm88/personajes-wizarding-world"
            target="_blank"
            >Repo</a
          >
          <a
            class="projects__container_all-one--links---web"
            href="https://raquelgm88.github.io/personajes-wizarding-world/"
            target="_blank"
            >Web</a
          >
        </section>
      </article>
      <article
        class="projects__container_all-one js_projects__container_all-one nine"
      >
        <section class="projects__container_all-one--info">
          <a
            class="projects__container_all-one--info---link"
            href="https://raquelgm88.github.io/piedra-papel-tijeras/"
            target="_blank"
          >
            <img
              class="projects__container_all-one--info---link__img"
              src="./assets/images/sheldon.png"
              alt="El Juego de Sheldon"
          /></a>
          <div class="projects__container_all-one--info---div">
            <h1 class="projects__container_all-one--info---div__title">
              El Juego de Sheldon
            </h1>
            <p class="projects__container_all-one--info---div__text">
              Juego del personaje de The Big Bang Theory, Sheldon Cooper:
              "Piedra, Papel, Tijeras, Lagarto, Spock"
            </p>
          </div>
        </section>
        <section class="projects__container_all-one--links">
          <a
            class="projects__container_all-one--links---repo"
            href="https://github.com/raquelgm88/piedra-papel-tijeras"
            target="_blank"
            >Repo</a
          >
          <a
            class="projects__container_all-one--links---web"
            href="https://raquelgm88.github.io/piedra-papel-tijeras/"
            target="_blank"
            >Web</a
          >
        </section>
      </article>
      <article
        class="projects__container_all-one js_projects__container_all-one five"
      >
        <section class="projects__container_all-one--info">
          <a
            class="projects__container_all-one--info---link"
            href="https://github.com/raquelgm88/Family-Shopping"
            target="_blank"
          >
            <img
              class="projects__container_all-one--info---link__img"
              src="./assets/images/family-wip.png"
              alt="Family Shopping"
          /></a>
          <div class="projects__container_all-one--info---div">
            <h1 class="projects__container_all-one--info---div__title">
              Family Shopping
            </h1>
            <p class="projects__container_all-one--info---div__text">
              Buscador de centros comerciales de la Comunidad de Madrid
            </p>
          </div>
        </section>
        <section class="projects__container_all-one--links">
          <a
            class="projects__container_all-one--links---repo"
            href="https://github.com/raquelgm88/Family-Shopping"
            target="_blank"
            >Repo</a
          >
          <a
            class="projects__container_all-one--links---web no_web"
            href=""
            target="_blank"
            >Web</a
          >
        </section>
      </article>
      <article
        class="projects__container_all-one js_projects__container_all-one six"
      >
        <section class="projects__container_all-one--info">
          <a
            class="projects__container_all-one--info---link"
            href="https://github.com/raquelgm88/adivina-el-numero"
            target="_blank"
          >
            <img
              class="projects__container_all-one--info---link__img"
              src="./assets/images/wip2.png"
              alt="Adivina el número"
          /></a>
          <div class="projects__container_all-one--info---div">
            <h1 class="projects__container_all-one--info---div__title">
              Adivina el número
            </h1>
            <p class="projects__container_all-one--info---div__text">
              Juego sencillo para adivinar un número aleatorio
            </p>
          </div>
        </section>
        <section class="projects__container_all-one--links">
          <a
            class="projects__container_all-one--links---repo"
            href="https://github.com/raquelgm88/adivina-el-numero"
            target="_blank"
            >Repo</a
          >
          <a
            class="projects__container_all-one--links---web no_web"
            target="_blank"
            >Web</a
          >
        </section>
      </article>
    </div>
  </div>
</section>
<div class="line"></div>
