<section class="projects" id="projects">
  <h2 class="projects__title">< proyectos /></h2>
  <div class="projects__container js_projects__container">
    <div class="projects__container_all js_projects">
      <div class="projects__container_all-one js_projects__container_all-one">
        <a
          class="projects__container_all-one--link"
          href="http://www.apptimist.es/"
          target="_blank"
        >
          <img
            class="projects__container_all-one--link---img"
            src="./assets/images/apptimist.png"
            alt="Apptimist"
          />
        </a>
        <div class="projects__container_all-one--div">
          <h1 class="projects__container_all-one--div---title">Apptimist</h1>
          <p class="projects__container_all-one--div---text">
            SPA de empresa de diseño y desarrollo de aplicaciones web
          </p>
          <p class="projects__container_all-one--div---text tech">
            HTML5 | CSS3 | JavaScript
          </p>
        </div>
      </div>
      <div class="projects__container_all-one js_projects__container_all-one">
        <a
          class="projects__container_all-one--link"
          href="http://www.gestoriajjdevicente.com/"
          target="_blank"
        >
          <img
            class="projects__container_all-one--link---img"
            src="./assets/images/gestoría.png"
            alt="Gestoría"
          />
        </a>
        <div class="projects__container_all-one--div">
          <h1 class="projects__container_all-one--div---title">
            Gestoría JJ de Vicente
          </h1>
          <p class="projects__container_all-one--div---text">
            Página web de gestoría administrativa
          </p>
          <p class="projects__container_all-one--div---text tech">
            HTML5 | CSS3 | JavaScript
          </p>
        </div>
      </div>
      <div class="projects__container_all-one js_projects__container_all-one">
        <a
          class="projects__container_all-one--link"
          href="https://github.com/raquelgm88/easy-sports-shop"
          target="_blank"
          ><img
            class="projects__container_all-one--link---img"
            src="./assets/images/shop.png"
            alt="Easy Sport Shop"
        /></a>
        <div class="projects__container_all-one--div">
          <h1 class="projects__container_all-one--div---title">
            Easy Sports Shop
          </h1>
          <p class="projects__container_all-one--div---text">
            Maquetación de un e-commerce
          </p>
          <p class="projects__container_all-one--div---text tech">
            HTML5 | SCSS
          </p>
        </div>
      </div>
      <div
        class="projects__container_all-one js_projects__container_all-one two"
      >
        <a
          class="projects__container_all-one--link"
          href="https://github.com/raquelgm88/cocktail-finder"
          target="_blank"
          ><img
            class="projects__container_all-one--link---img"
            src="./assets/images/cocktail.png"
            alt="Cocktail Finder"
          />
        </a>
        <div class="projects__container_all-one--div">
          <h1 class="projects__container_all-one--div---title">
            Cocktail Finder
          </h1>
          <p class="projects__container_all-one--div---text">
            Buscador de bebidas y cócteles
          </p>
          <p class="projects__container_all-one--div---text tech">
            HTML5 | SCSS | JavaScript
          </p>
        </div>
      </div>
      <div
        class="projects__container_all-one js_projects__container_all-one three"
      >
        <a
          class="projects__container_all-one--link"
          href="https://github.com/raquelgm88/friends-best-quotes"
          target="_blank"
        >
          <img
            class="projects__container_all-one--link---img"
            src="./assets/images/friends.png"
            alt="Friends Best Quotes"
        /></a>
        <div class="projects__container_all-one--div">
          <h1 class="projects__container_all-one--div---title">
            Friends Best Quotes
          </h1>
          <p class="projects__container_all-one--div---text">
            Buscador y creador de frases de "Friends"
          </p>
          <p class="projects__container_all-one--div---text tech">
            HTML5 | SCSS | ReactJS
          </p>
        </div>
      </div>
      <div
        class="projects__container_all-one js_projects__container_all-one four"
      >
        <a
          class="projects__container_all-one--link"
          href="https://github.com/raquelgm88/personajes-wizarding-world"
          target="_blank"
        >
          <img
            class="projects__container_all-one--link---img"
            src="./assets/images/harry-potter.png"
            alt="Personajes Wizarding World"
        /></a>
        <div class="projects__container_all-one--div">
          <h1 class="projects__container_all-one--div---title">
            Personajes Wizarding World
          </h1>
          <p class="projects__container_all-one--div---text">
            Fichas de personajes de la saga Harry Potter
          </p>
          <p class="projects__container_all-one--div---text tech">
            HTML5 | SCSS | ReactJS
          </p>
        </div>
      </div>
      <div
        class="projects__container_all-one js_projects__container_all-one nine"
      >
        <a
          class="projects__container_all-one--link"
          href="https://github.com/raquelgm88/piedra-papel-tijeras"
          target="_blank"
        >
          <img
            class="projects__container_all-one--link---img"
            src="./assets/images/sheldon.png"
            alt="El Juego de Sheldon"
        /></a>
        <div class="projects__container_all-one--div">
          <h1 class="projects__container_all-one--div---title">
            El Juego de Sheldon
          </h1>
          <p class="projects__container_all-one--div---text">
            Juego del personaje de The Big Bang Theory, Sheldon Cooper: "Piedra,
            Papel, Tijeras, Lagarto, Spock"
          </p>
          <p class="projects__container_all-one--div---text tech">
            HTML5 | SCSS | JavaScript
          </p>
        </div>
      </div>
      <div
        class="projects__container_all-one js_projects__container_all-one five"
      >
        <a
          class="projects__container_all-one--link"
          href="https://github.com/raquelgm88/Family-Shopping"
          target="_blank"
        >
          <img
            class="projects__container_all-one--link---img"
            src="./assets/images/family-wip.png"
            alt="Family Shopping"
        /></a>
        <div class="projects__container_all-one--div">
          <h1 class="projects__container_all-one--div---title">
            Family Shopping
          </h1>
          <p class="projects__container_all-one--div---text">
            Buscador de centros comerciales de la Comunidad de Madrid
          </p>
          <p class="projects__container_all-one--div---text tech">
            HTML5 | SCSS | ReactJS
          </p>
        </div>
      </div>
      <div
        class="projects__container_all-one js_projects__container_all-one six"
      >
        <a
          class="projects__container_all-one--link"
          href="https://github.com/raquelgm88/adivina-el-numero"
          target="_blank"
        >
          <img
            class="projects__container_all-one--link---img"
            src="./assets/images/wip2.png"
            alt="Adivina el número"
        /></a>
        <div class="projects__container_all-one--div">
          <h1 class="projects__container_all-one--div---title">
            Adivina el número
          </h1>
          <p class="projects__container_all-one--div---text">
            Juego sencillo para adivinar un número aleatorio
          </p>
          <p class="projects__container_all-one--div---text tech">
            HTML5 | SCSS | JavaScript
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="line"></div>
