<section class="projects" id="projects">
  <h2 class="projects__title">< proyectos /></h2>
  <div class="projects__container js_projects__container">
    <div class="projects__container_all js_projects">
      <div class="projects__container_all-one js_projects__container_all-one">
        <a
          class="projects__container_all-one--link"
          href="https://github.com/raquelgm88/easy-sports-shop"
          target="_blank"
          ><img
            class="projects__container_all-one--link---img"
            src="./assets/images/shop.png"
            alt="Easy Sport Shop"
        /></a>
        <div class="projects__container_all-one--div">
          <h1 class="title">Easy Sports Shop</h1>
          <p class="text">
            Maquetación de un e-commerce con HTML5 y CSS3 (SASS)
          </p>
        </div>
      </div>
      <div
        class="projects__container_all-one js_projects__container_all-one two"
      >
        <a
          class="projects__container_all-one--link"
          href="https://github.com/raquelgm88/cocktail-finder"
          target="_blank"
          ><img
            class="projects__container_all-one--link---img"
            src="./assets/images/cocktail.png"
            alt="Cocktail Finder"
          />
        </a>
        <div class="projects__container_all-one--div">
          <h1 class="title">Cocktail Finder</h1>
          <p class="text">
            Buscador de cócteles desarrollado con HTML5, CSS3 (SASS) y
            JavaScript
          </p>
        </div>
      </div>
      <div
        class="projects__container_all-one js_projects__container_all-one three"
      >
        <a
          class="projects__container_all-one--link"
          href="https://github.com/raquelgm88/friends-best-quotes"
          target="_blank"
        >
          <img
            class="projects__container_all-one--link---img"
            src="./assets/images/friends.png"
            alt="Friends Best Quotes"
        /></a>
        <div class="projects__container_all-one--div">
          <h1 class="title">Friend Best Quotes</h1>
          <p class="text">
            Buscador y creador de frases de la serie Friends desarrollado con
            HTML5, CSS3 (SASS) y React JS
          </p>
        </div>
      </div>
      <div
        class="projects__container_all-one js_projects__container_all-one four"
      >
        <a
          class="projects__container_all-one--link"
          href="https://github.com/raquelgm88/personajes-wizarding-world"
          target="_blank"
        >
          <img
            class="projects__container_all-one--link---img"
            src="./assets/images/harry-potter.png"
            alt="Personajes Wizarding World"
        /></a>
        <div class="projects__container_all-one--div">
          <h1 class="title">Personajes Wizarding World</h1>
          <p class="text">
            Buscador de personajes de la saga Harry Potter desarrollado con
            HTML5, CSS3 (SASS) y React JS
          </p>
        </div>
      </div>
      <div
        class="projects__container_all-one js_projects__container_all-one five"
      >
        <a
          class="projects__container_all-one--link"
          href="https://github.com/raquelgm88/Family-Shopping"
          target="_blank"
        >
          <img
            class="projects__container_all-one--link---img"
            src="./assets/images/family-wip.png"
            alt="Family Shopping"
        /></a>
        <div class="projects__container_all-one--div">
          <h1 class="title">Family Shopping</h1>
          <p class="text">
            Buscador de centros comerciales de la Comunidad de Madrid enfocado a
            niños y familias desarrollado con HTML5, CSS3 (SASS) y React JS
          </p>
        </div>
      </div>
      <div
        class="projects__container_all-one js_projects__container_all-one six"
      >
        <a
          class="projects__container_all-one--link"
          href="https://github.com/raquelgm88/adivina-el-numero"
          target="_blank"
        >
          <img
            class="projects__container_all-one--link---img"
            src="./assets/images/wip2.png"
            alt="Adivina el número"
        /></a>
        <div class="projects__container_all-one--div">
          <h1 class="title">Adivina el número</h1>
          <p class="text">
            Juego sencillo desarrollado con HTML5, CSS3 (SASS) y JavaScript
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="line"></div>
