<section class="technologies">
  <h2 class="technologies__h2">Tecnologías</h2>
  <p class="technologies__text">
    Estas son las herramientas, tecnologías y lenguajes de programación que
    utilizo para crear desarrollar mis proyectos.
  </p>
  <div class="technologies__div">
    <img class="technologies__div_logo" src="" alt="" />
    <img class="technologies__div_logo" src="" alt="" />
    <img class="technologies__div_logo" src="" alt="" />
    <img class="technologies__div_logo" src="" alt="" />
    <img class="technologies__div_logo" src="" alt="" />
    <img class="technologies__div_logo" src="" alt="" />
    <img class="technologies__div_logo" src="" alt="" />
    <img class="technologies__div_logo" src="" alt="" />
    <img class="technologies__div_logo" src="" alt="" />
    <img class="technologies__div_logo" src="" alt="" />
  </div>
</section>
