.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    background-color: #f0f3f4;

    @media all and (min-width: 768px) {
        height: 90vh;
        justify-content: flex-start;
    }

    &__h1 {
        font-family: "Georama", sans-serif;
        font-size: 45px;
        font-weight: 700;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 50px;
        width: 75vw;
        color: #9a3a92;

        @media all and (min-width: 768px) {
           margin-top: 120px;
           font-size: 60px;
        }

        @media all and (min-width: 1200px) {
            font-size: 70px;
            margin-top: 100px;
        }
    }

    &__text {
        display: none;

        @media all and (min-width: 768px) {
            display: flex;
            font-family: "Georama", sans-serif;
            font-size: 30px;
            text-align: center;
            width: 88vw;
        }

        @media all and (min-width: 1200px) {
            margin-top: 30px;
           justify-content: center;
        }
    }

    &__div {
        display: flex;
        flex-direction: row;
        gap: 40px;
        margin-bottom: 40px;

        @media all and (min-width: 768px) {
            flex-direction: column;
            align-items: center;
            margin-top: 155px;
            gap: 100px;
        }

        @media all and (min-width: 1000px) {
            flex-direction: row;
            gap: 200px;
            margin-top: 200px;
        }
      

        &_link {
            text-decoration: none;
        }
    }
}

.fa-linkedin {
    font-size: 40px;
    color: #0a66c2;

    @media all and (min-width: 768px) {
        font-size: 120px;
    }
}

.fa-github {
    font-size: 40px;
    color: black;

    @media all and (min-width: 768px) {
        font-size: 120px;
    }
}

.fa-envelope {
    font-size: 40px;
    color: #ed9775;

    @media all and (min-width: 768px) {
        font-size: 120px;
    }
}