.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    background-color: lightcoral;

    &__h1 {
        font-family: "Georama", sans-serif;
        font-size: 45px;
        font-weight: 700;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 50px;
        width: 75vw;
    }

    &__div {
        display: flex;
        flex-direction: row;
        gap: 40px;
        margin-bottom: 40px;
      

        &_link {
            text-decoration: none;
        
            &--logo {
                height: 40px;
            }
        }
    }
}