.footer {
    width: 100vw;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color:  #9a3a92;

    @media all and (min-width: 768px) {
        font-size: 20px;
    }
    
    &__div {
        margin-left: 30px;
        font-family: "Georama", sans-serif;
        color:  white;
    }

    &__copy {
        margin-right: 30px;
        font-family: "Georama", sans-serif;
        color:  white;
    }
}