.footer {
    width: 100vw;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   // background-color:  #9a3a92;
   background-color: #9A79B2;

    @media all and (min-width: 768px) {
        font-size: 20px;
        height: 10vh;
    }
    
    &__div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-left: 30px;
        //font-family: "Georama", sans-serif;
        font-family: "Oxanium", sans-serif;
        font-family: "Poppins", sans-serif;
        color:  white;
        width: auto;
        height: auto;
     
    }

    &__copy {
        margin-right: 30px;
        //font-family: "Georama", sans-serif;
        font-family: "Oxanium", sans-serif;
        font-family: "Poppins", sans-serif;
        color:  white;
    }
}