.projects {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100vw;
    height: 100vh;

    &__title {
        
    }
}

.projects__all-one {
    position: relative;

    &--img {
        display: block;
        width: 100px;
        height: auto;
    }

    &--div {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: 1.5s ease;
        background-color: #c3ac76;
    }
}

.tittle {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.projects__all-one:hover .projects__all-one--div {
    opacity: 1;
}