.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  background-color: #f0f3f4;

  @media all and (min-width: 1024px) {
    height: 100vh;
  }

  &__title {
    margin-top: 30px;
    font-family: "Oxanium", sans-serif;
    font-size: 45px;
    font-weight: 700;
    color: black;
    text-shadow: 2px 1px 1px #9A79B2;

    @media all and (min-width: 768px) {
      margin-top: 120px;
      font-size: 6vh;
    }

    @media all and (min-width: 1024px) {
      //margin-top: 100px;
      margin-top: 10.6vh;
      font-size: 7.5vh;
    }
  }

  &__container {
    height: auto;

    @media (orientation: landscape) {
      position: relative;
      margin-top: -30px;
      width: 41.7vw;
      height: 63.6vh;
    }

    @media all and (min-width: 1024px) {
      position: relative;
      margin-top: -30px;
      width: 41.7vw;
      height: 63.6vh;
    }

    &_all {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      // margin-top: 5px;
      height: auto;

      @media (orientation: landscape) {
        position: relative;
        left: 50%;
        top: 50%;
        width: 70%;
        height: 70%;
        transform: translate(-50%, -50%);
      }

      @media all and (min-width: 1024px) {
        position: relative;
        left: 50%;
        top: 50%;
        width: 70%;
        height: 70%;
        transform: translate(-50%, -50%);
      }

      &-one {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 50px;
        width: 270px;
        height: 200px;
        //border-radius: 3%;
        //background-color: #9A79B2;

        // @media (orientation: landscape) {
        //   position: absolute;
        //   left: 0;
        //   top: 0;
        //   width: 100%;
        //   height: 100%;
        //   z-index: 0;
        //   transition: z-index 0ms $delay;
        //   background-color: #f0f3f4;
        // }

        @media all and (min-width: 768px) {
          justify-content: flex-start;
          align-items: center;
          margin-bottom: 75px;
          width: 500px;
          height: 400px;
          background-color: #f0f3f4;
        }

        @media all and (min-width: 1024px) {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          z-index: 0;
          transition: z-index 0ms $delay;
        }

        &--info {
          border-radius: 3%;
        
          &---link {
            display: flex;
            justify-content: center;
            align-items: center;

            &__img {
              width: 270px;
              border-top-left-radius: 3%;
              border-top-right-radius: 3%;

              // @media (orientation: landscape) {
              //   position: relative;
              //   left: 0;
              //   top: 0;
              //   width: 100%;
              //   height: 100%;
              //   box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.2);
              //   transition: $time $mode;
              //   transform: scale(0);
              //   opacity: 0;
              //   border-radius: 10px;
              // }
      
              @media all and (min-width: 768px) {
                margin-top: auto;
                width: 500px;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
              }

              @media all and (min-width: 1024px) {
                position: relative;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.2);
                transition: $time $mode;
                transform: scale(0);
                opacity: 0;
                border-radius: 10px;
              }
            }
          }

          &---div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 270px;
            height: 67.53px;

            // @media (orientation: landscape) {
            //   margin-top: 8vh;
            //   width: 40vw;
            //   background-color: #f0f3f4;
            //   transition: $time $mode;
            // }

            @media all and (min-width: 768px) {
              margin-top: auto;
              width: 500px;
              height: 154.69px;
              background-color: #9A79B2;
              border-bottom-left-radius: 10px;
              border-bottom-right-radius: 10px;
            }
      
            @media all and (min-width: 1024px) {
              margin-top: 3vh;
              width: 40vw;
              height: 19vh;
              background-color: #f0f3f4;
              transition: $time $mode;
            }

            &__title {
              font-family: "Poppins", sans-serif;
              font-size: 25px;
              text-align: center;
              color: white;

              // @media (orientation: landscape) {
              //   display: flex;
              //   justify-content: center;
              //   align-items: center;
              //   margin-top: 1.6vh;
              //   width: 100%;
              //   height: 20%;
              //   font-size: 3.7vh;
              //   color: #9A79B2;
              //   font-weight: bold;
              //   transition: $time $mode;
              //   opacity: 0;
              // }
            
              @media all and (min-width: 768px) {
                margin-bottom: 10px;
                font-size: 35px;
              }

              @media all and (min-width: 1024px) {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 1.6vh;
                width: 100%;
                height: 20%;
                font-size: 3.7vh;
                color: #9A79B2;
                font-weight: bold;
                transition: $time $mode;
                opacity: 0;
              }
            }

            &__text {
              display: none;
              font-family: "Poppins", sans-serif;
              font-size: 14px;
              text-align: center;

              // @media (orientation: landscape) {
              //   display: flex;
              //   justify-content: center;
              //   align-items: center;
              //   text-align: center;
              //   margin-top: 1.3vh;
              //   width: 100%;
              //   height: 80%;
              //   font-size: 3vh;
              //   color: black;
              //   opacity: 0;
              // }
            
              @media all and (min-width: 768px) {
                display: flex;
                font-size: 24px;
              }

              @media all and (min-width: 1024px) {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                margin-top: 1.3vh;
                width: 100%;
                height: 80%;
                font-size: 3vh;
                line-height: 35px;
                color: black;
                opacity: 0;
              }
            }
          }
        }
        
        &--links {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          align-items: center;
          margin-top: 5px;
          width: 270px;
          height: 100px;

          @media all and (min-width: 768px) {
            width: 500px;
          }

          @media all and (min-width: 1024px) {
            width: 100%;
            transition: $time $mode;
            opacity: 0;
          }
        
          &---repo {
            margin: 2px;
            padding-top: 5px;
            text-decoration: none;
            font-family: "Poppins", sans-serif;
            font-size: 14px;
            text-align: center;
            border-top-left-radius: 3%;
            border-bottom-left-radius: 3%;
            background-color: #9A79B2;
            color: white;
            width: 135px;
            height: 20px;
            cursor: pointer;

            @media all and (min-width: 768px) {
              width: 250px;
            }

            @media all and (min-width: 1024px) {
              width: 50%;
            }
          }

          &---web {
            margin: 2px;
            padding-top: 5px;
            text-decoration: none;
            font-family: "Poppins", sans-serif;
            font-size: 14px;
            text-align: center;
            border-top-right-radius: 3%;
            border-bottom-right-radius: 3%;
            background-color: #9A79B2;
            color: white;
            width: 135px;
            height: 20px;
            cursor: pointer;

            @media all and (min-width: 768px) {
              width: 250px;
            }

            @media all and (min-width: 1024px) {
              width: 50%;

            }
          }

        }
        
      }
    }

    &_bulletContainer {
      display: none;

      // @media (orientation: landscape) {
      //   display: flex;
      //   justify-content: center;
      //   align-items: center;
      //   position: absolute;
      //   margin-top: 19vh;
      //   width: 100%;
      // }

      @media all and (min-width: 1024px) {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      margin-top: 35vh;
      width: 100%;
      
      }

      &-bullet {
        display: none;

        // @media (orientation: landscape) {
        //   display: flex;
        //   margin-right: 14px;
        //   cursor: pointer;
        //   &:last-child {
        //     margin-right: 0px;
        //   }
        //   height: 20px;
        //   width: 20px;
        //   border-radius: 50%;
        //   background-color: #9A79B2;
        //   opacity: 0.4;
        //   &.active {
        //     opacity: 1;
        //   }
        // }

        @media all and (min-width: 1024px) {
          display: flex;
          margin-right: 14px;
          margin-top: 15px;
          cursor: pointer;
          &:last-child {
            margin-right: 0px;
          }
          height: 20px;
          width: 20px;
          border-radius: 50%;
          background-color: #9A79B2;
          opacity: 0.4;
          &.active {
            opacity: 1;
          }
        }
      }
    }  
  }
}

.no_repo {
  background-color: #a69eac;
  color: white;
  cursor: auto;
}

.no_web {
  background-color: #a69eac;
  color: white;
  cursor: auto;
}


//ANIMATIONS CLASSES

// @media (orientation: landscape) {
//   .preactivede {

//     .projects__container_all-one--link---img {
//       transform: translateX(-50%) scale(0);
//       border-radius: 10px;
//     }
//   }

//   .preactive {
//     z-index: 1;

//     .projects__container_all-one--link---img {
//       opacity: 0.3;
//       transform: translateX(-25%) scale(0.8);
//       border-radius: 10px;
//     }

//     .slider-single-download {
//       transform: translateX(-150px);
//     }

//     .projects__container_all-one--div---title {
//       transform: translateX(-150px);
//     }

//     .slider-single-likes {
//       transform: translateX(-150px);
//     }
//   }

//   .proactive {
//     z-index: 1;

//     .projects__container_all-one--link---img {
//       opacity: 0.3;
//       transform: translateX(25%) scale(0.8);
//       border-radius: 10px;
//     }

//     .slider-single-download {
//       transform: translateX(150px);
//     }

//     .projects__container_all-one--div---title {
//       transform: translateX(150px);
//     }

//     .slider-single-likes {
//       transform: translateX(150px);
//     }
//   }

//   .proactivede {

//     .projects__container_all-one--link---img {
//       transform: translateX(50%) scale(0);
//       border-radius: 10px;
//     }
//   }

//   .active {
//     z-index: 2;

//     .projects__container_all-one--link---img {
//       opacity: 1;
//       transform: translateX(0%) scale(1);
//       border-radius: 10px;
//     }

//     .slider-single-download {
//       opacity: 1;
//       transition-delay: 100ms;
//       transform: translateX(0px);
//     }

//     .projects__container_all-one--div {
//       opacity: 1;
//       transform: translateX(0%) scale(1);
//       border-radius: 10px;
//     }

//     .projects__container_all-one--div---title {
//       opacity: 1;
//       transition-delay: 200ms;
//       transform: translateX(0px);
//     }

//     .projects__container_all-one--div---text {
//       opacity: 1;
//       transition-delay: 200ms;
//       transform: translateX(0px);
//     }

//     .slider-single-likes {
//       opacity: 1;
//       transition-delay: 300ms;
//       transform: translateX(0px);

//       i {
//         animation-name: heartbeat;
//         animation-duration: 500ms;
//         animation-delay: 900ms;
//         animation-interation: 1;
//         animation-fill-mode: forwards;
//       }
//     }
//   }

//   .not-visible {
//     display: none !important;
//   }
// }

@media all and (min-width: 1024px) {
  .preactivede {

    .projects__container_all-one--info---link__img {
      transform: translateX(-50%) scale(0);
      border-radius: 10px;
    }

    // .projects__container_all-one--links {
    //   display: none;
    // }
  }

  .preactive {
    z-index: 1;

    .projects__container_all-one--info---link__img {
      opacity: 0.3;
      transform: translateX(-25%) scale(0.8);
      border-radius: 10px;
    }

    .slider-single-download {
      transform: translateX(-150px);
    }

    .projects__container_all-one--info---div__title {
      transform: translateX(-150px);
    }

    .slider-single-likes {
      transform: translateX(-150px);
    }

    .projects__container_all-one--links {
      transform: translateX(-150px);
    }
  }

  .proactive {
    z-index: 1;

    .projects__container_all-one--info---link__img {
      opacity: 0.3;
      transform: translateX(25%) scale(0.8);
      border-radius: 10px;
    }

    .slider-single-download {
      transform: translateX(150px);
    }

    .projects__container_all-one--info---div__title {
      transform: translateX(150px);
    }

    // .projects__container_all-one--links {
    //   transform: translateX(150px);
    // }

    // .projects__container_all-one--links {
    //   display: none;
    // }

    .slider-single-likes {
      transform: translateX(150px);
    }
  }

  .proactivede {

    .projects__container_all-one--info---link__img {
      transform: translateX(50%) scale(0);
      border-radius: 10px;
    }

    // .projects__container_all-one--links {
    //   display: none;
    // }
  }

  .active {
    z-index: 2;

    .projects__container_all-one--info---link__img {
      opacity: 1;
      transform: translateX(0%) scale(1);
      border-radius: 10px;
    }

    .slider-single-download {
      opacity: 1;
      transition-delay: 100ms;
      transform: translateX(0px);
    }

    .projects__container_all-one--info---div {
      opacity: 1;
      transform: translateX(0%) scale(1);
      border-radius: 10px;
    }

    .projects__container_all-one--info---div__title {
      opacity: 1;
      transition-delay: 200ms;
      transform: translateX(0px);
    }

    .projects__container_all-one--links {
      opacity: 1;
      transition-delay: 200ms;
      transform: translateX(0px);
    }

    .projects__container_all-one--info---div__text {
      opacity: 1;
      transition-delay: 200ms;
      transform: translateX(0px);
    }

    .slider-single-likes {
      opacity: 1;
      transition-delay: 300ms;
      transform: translateX(0px);

      i {
        animation-name: heartbeat;
        animation-duration: 500ms;
        animation-delay: 900ms;
        animation-interation: 1;
        animation-fill-mode: forwards;
      }
    }
  }

  .not-visible {
    display: none !important;
  }
}

// SLIDERS CLASSES

// @media (orientation: landscape) {
//   .slider-left {
//     display: block;
//     position: absolute;
//     margin-right: 18px;
//     padding: 20px 15px;
//     right: 85%;
//     top: 50%;
//     width: 0.9vw;
//     height: 1.7vh;
//     color: #ffffff;
//     transform: translateY(-50%);
//     z-index: 3;
//     border-radius: 10px;
//     background-color:  #9A79B2;
//     cursor: pointer;
//   }
  
//   .slider-right {
//     display: block;
//     position: absolute;
//     margin-left: 18px;
//     padding: 20px 15px;
//     left: 85%;
//     top: 50%;
//     width: 0.9vw;
//     height: 1.7vh;
//     color: #ffffff;
//     transform: translateY(-50%);
//     z-index: 3;
//     border-radius: 10px;
//     background-color:  #9A79B2;
//     cursor: pointer;
//   }
// }

@media all and (min-width: 1024px) {
  .slider-left {
    display: block;
    position: absolute;
    margin-right: 18px;
    padding: 20px 15px;
    right: 85%;
    top: 50%;
    width: 0.9vw;
    height: 1.7vh;
    color: #ffffff;
    transform: translateY(-50%);
    z-index: 3;
    border-radius: 10px;
    background-color:  #9A79B2;
    cursor: pointer;
  }
  
  .slider-right {
    display: block;
    position: absolute;
    margin-left: 18px;
    padding: 20px 15px;
    left: 85%;
    top: 50%;
    width: 0.9vw;
    height: 1.7vh;
    color: #ffffff;
    transform: translateY(-50%);
    z-index: 3;
    border-radius: 10px;
    background-color:  #9A79B2;
    cursor: pointer;
  }
}

.fa {
  display: none;
  
  // @media (orientation: landscape) {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   justify-self: center;
  //   width: 1vw;
  // }
  
  @media all and (min-width: 1024px) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1vw;
  }
}