@import 'core/reset';
@import 'layout/header';
@import 'layout/hero';
@import 'layout/projects';
@import 'layout/technologies';
@import 'layout/contact';
@import 'layout/footer';
@import 'pages/index';

.main {
    width: 100vw;
}

.line {
    width: 100vw;
    height: 2px;
    background-color: rgb(229, 225, 225);
    
}
:root {
    scroll-behavior: smooth;
}
