@import 'core/reset';
@import 'core/variables';
@import 'layout/header';
@import 'layout/hero';
@import 'layout/projects';
@import 'layout/technologies';
@import 'layout/contact';
@import 'layout/footer';
@import 'pages/index';


.main {
    width: 100vw;

}

.line {
    width: 100vw;
    height: 2px;
    background-color: rgb(229, 225, 225);
    
}
:root {
    scroll-behavior: smooth;
    overflow: auto;
    scrollbar-width: none;
}

:root::-webkit-scrollbar {
    width: 0;
}
